<!DOCTYPE html>
<html ng-app="farmbuild.soilSampleImporter.examples">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Farmbuild Soil Sample Import (angularJS)</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../main.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="FarmCtrl">
<content>
<modal ng-if="noResult" ng-include="'modal-validation-error.html'"></modal>
<form role="form" name="form" novalidate>
  <h3>
    FarmBuild Soil Sample Importer
    <small>(angularJS)</small>
  </h3>
  <hr/>
  <br/>
  <hr/>
  <h4>
    Load FarmData to start linking with the soil sample result in csv.
  </h4>
  <p>
    You must have a farmData for paddock file.
    Please use the example farmData files in ../data/.
  </p>
  <form-item class="form-group col-sm-12">
    <label>Please select your farm data</label>
    <input id="loadFile" name="farmData" type="file" on-read-file="loadFarmData($fileContent)" class="form-control">

  </form-item>
  <buttons class="col-md-12" ng-if="farmData.name">
    <a type="button" class="btn btn-primary" ng-href="import-field-selector/index.html" ng-disabled="!farmData.name">Import
      soil sample </a>
    <button class="btn btn-primary" ng-click="clear()">Clear session</button>
  </buttons>

  <div class="clearfix"></div>
</form>
<empty-message ng-if="!farmData.name"><i class="fa fa-warning icon"></i>
  Provide a farm data to see the soil sample result
</empty-message>

<summary ng-if="farmData.name">

    <legend>Paddock Soil Information</legend>

    <paddocks ng-repeat="paddock in paddocks">
        <div>
            <span>Paddock Name</span>: <span class="h4">{{paddock.name}}</span>
        </div>
        <table class="table table-striped" ng-show="paddock.soils.sampleResults">
            <tr>
                <th>&nbsp;
                </th>
                <th ng-repeat="field in paddockFieldNames">{{field}}
                </th>
            </tr>
            <tr ng-repeat="sampleResult in paddock.soils.sampleResults">
                <td>
                    &nbsp;
                </td>
                <td ng-repeat="fieldName in paddockFieldNames">
                    <span>{{sampleResult[fieldName]}}</span>
                </td>
            </tr>
            <tfoot ng-init="avg = getPaddockAverage(farmData, paddock.name)">
                <tr >
                    <td>Average:</td>
                    <td ng-repeat="fieldName in paddockFieldNames" >
                        {{avg[fieldName] ? (avg[fieldName] | number:2) : 'N/A'}}
                    </td>
                </tr>
                <tr >
                    <td>Classification:</td>
                    <td ng-repeat="fieldName in paddockFieldNames" ng-init="cls = getSampleResultClassification(avg, fieldName)">
                        <span style="background-color:{{cls.defaultColor}}">
                            {{cls.name ? cls.name : 'N/A'}}
                        </span>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div ng-show="!paddock.soils.sampleResults">
            This paddock contains no soil sample results.
        </div>
    </paddocks>

    <hr/>

    <legend>Management Groups Soil Information</legend>

    <management-zones ng-repeat="zone in managementZones">
        <div ng-init="zoneAvg = getManagementZoneAverage(farmData, zone.name)">
            <div><span>Zone Name</span>: <span class="h4">{{zone.name}}</span></div>
            <table class="table table-striped" ng-show="zoneAvg">
                <tr>
                    <th>&nbsp;</th>
                    <th ng-repeat="fieldName in managementZoneFieldNames">
                        {{fieldName}}
                    </th>
                </tr>
                <tbody ng-init="avg = getManagementZoneAverage(farmData, zone.name)">
                    <tr>
                        <td>Average:</td>
                        <td ng-repeat="fieldName in managementZoneFieldNames" >
                            {{avg[fieldName] ? (avg[fieldName] | number:2) : 'N/A'}}
                        </td>
                    </tr>
                    <tr >
                        <td>Classification:</td>
                        <td ng-repeat="fieldName in managementZoneFieldNames" ng-init="cls = getSampleResultClassification(avg, fieldName)">
                        <span style="background-color:{{cls.defaultColor}}">
                            {{cls.name ? cls.name : 'N/A'}}
                        </span>
                        </td>
                    </tr>
                </tbody>
            </table>
            <div ng-show="!zoneAvg">This management zone contains no sample result</div>
        </div>
    </management-zones>

    <hr/>


    <p>Uploaded farm data raw content:</p>
    <pre> {{prettyContent}}  </pre>

</summary>
<version>
  Version: <span ng-bind="appVersion"></span>
</version>
</content>

<script src="../../dist/farmbuild-core.js"></script>
<script src="../../dist/farmbuild-farmdata.js"></script>
<script src="../../dist/farmbuild-soilsampleimporter.js"></script>
<script src="../config.js"></script>
<script src="index.js"></script>
<!-- Google Analytics: change UA-XXXXX-X to be your site's ID -->
<script>
  (function (i, s, o, g, r, a, m) {
    i['GoogleAnalyticsObject'] = r;
    i[r] = i[r] || function () {
      (i[r].q = i[r].q || []).push(arguments)
    }, i[r].l = 1 * new Date();
    a = s.createElement(o),
        m = s.getElementsByTagName(o)[0];
    a.async = 1;
    a.src = g;
    m.parentNode.insertBefore(a, m)
  })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

  var GA_TRACKING_CODE = 'UA-53478356-1';

  ga('create', GA_TRACKING_CODE, 'auto');
</script>


</body>
</html>
