<!DOCTYPE html>
<html ng-app="farmbuild.soilSampleImporter.examples.paddockSelector">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Farm Build Soil Imported - Import Data Matching</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="../../main.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
</head>
<body ng-controller="PaddockSelectorCtrl">
<content>
    <modal ng-if="noResult" ng-include="'../modal-validation-error.html'"></modal>
    <h3><a href="../index.html">FarmBuild Soil Importer</a> - Import Data Matching
    </h3>
    <form role="form" name="form" ng-submit="export(paddockSelection)"  novalidate>
        <span>Please select a soil sample CSV to import.</span>
      <p>Ensure the first row in the CSV file contains the column headers. If not please update the file before uploading.</p>
        <input id="loadFile" name="soilData" type="file" on-read-file="loadSoilSample($fileContent)" class="form-control" style="width: 50%">

        <div ng-show="paddockSelection.results" style="margin-top: 40px; margin-bottom: 10px;">
            <h4>Import fields definition</h4>
            <div>
                <span>Please select a column to match with the farm paddock name</span>
                <select ng-model="selectedColumn"
                        ng-options="column as column for column in paddockSelection.results.columnHeaders | filter: '!'+ paddockSelection.results.columnHeaders[paddockSelection.paddockNameColumn]">
                    <option value="" selected="selected"></option>
                </select>
                <button type="button" ng-click="autoLink(paddockSelection)">Link</button>
            </div>
        </div>


        <table class="table table-striped table-hover">
            <tr>
                <th ng-repeat="header in paddockSelection.results.columnHeaders">
                    <div>{{header}}</div>
                    <div>
                        <select ng-model="selectedClassification"
                                ng-change="changeClassification(paddockSelection, $index, selectedClassification, '{{selectedClassification}}')"
                                ng-if="paddockColumnIndex+'' != $index"
                                ng-options="clsType as clsType.name for clsType in classificationTypes | excludeFrom:classifiedColumns:$index">
                            <option value="" selected="selected">None</option>
                        </select>
                    </div>
                </th>
            </tr>
            <tr ng-repeat="row in paddockSelection.results.rows track by $index">
                <td ng-repeat="col in row track by $index">
                    <select ng-model="connectedRows[$parent.$parent.$index]" ng-change="changePaddock(paddockSelection, $parent.$parent.$index, connectedRows[$parent.$parent.$index], '{{connectedRows[$parent.$parent.$index]}}')"
                            ng-if="paddockColumnIndex+'' == $index"
                            ng-options="paddock as paddock.name for paddock in paddocks">
                        <option value="" selected="selected"></option>
                    </select>
                    <div ng-if="paddockColumnIndex+'' != $index">
                        {{col}}
                    </div>
                </td>
            </tr>
        </table>
        <button type="Submit" class="btn btn-primary" ng-disabled="!valid">
            Export
        </button>
    </form>
</content>
<script src="../../../dist/d3.min.js"></script>
<script src="../../../dist/farmbuild-core.js"></script>
<script src="../../../dist/farmbuild-farmdata.js"></script>
<script src="../../../dist/farmbuild-soilsampleimporter.js"></script>
<script src="../../config.js"></script>
<script src="index.js"></script>

</body>
</html>